body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px; /* Increased padding */
  }
  
  h1 {
    color:#808080;
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    padding: 5px; /* Added padding */
    width: 250px; /* Added width */
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #808080;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #d9d9e2;
  }
  
  p#timer {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  
  a {
    color:#808080;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  /* Hide the default radio button */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #808080; /* Border color */
    outline: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Custom style for checked state */
  input[type="radio"]:checked {
    background-color: #808080; /* Fill color when checked */
  }
  
